
<div class="center jumbotron">
  <h1>KALDEN BLOG!</h1>

  <%= link_to "Sign Up Now", "#", class: "btn btn-danger btn-xlg btn-xlarge" %>

</div>



<%= image_tag 'dog.jpg' %>

<%= link_to image_tag('dog.jpg'), 'https://www.youtube.com/' %>



<br>
<%= link_to "Blog", articles_path %>
<br>

<%= link_to "About", about_path %>